* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*cores globais*/
  --principal-red: #E3646E;
  --principal-purple: #BB72E9;
  --principal-blue: #3996DB;
  --principal-green: #82BC4F;
  --principal-yellow: #EABD5F;

  --base-gray-100: #E2E4E9;
  --base-gray-200: #C0C4CE;
  --base-gray-300: #878EA1;
  --base-gray-400: #292C34;
  --base-gray-500: #16181D;
  --base-gray-600: #0D0E11;

  /*tipografia global*/
  --title-font-family: "Asap", sans-serif;
  --title-font-weight: bold;

  --title-lg-size: 56px;
  --title-lg-line-height: 120%;

  --title-md-size: 24px;
  --title-md-line-height: 120%;

  --title-sm-size: 16px;
  --title-sm-line-height: 120%;

  --subtitle-font-family: "Inconsolata", monospace;
  --subtitle-font-weight: regular;
  --subtitle-font-size: 20px;
  --subtitle-line-height: 120%;

  --text-font-family: "Maven Pro", sans-serif;
  --text-font-weight: regular;

  --text-md-size: 16px;
  --text-md-line-height: 140%;
  
  --text-sm-size: 14px;
  --text-sm-line-height: 140%;

}

html {
  background-color: var(--base-gray-500);
}

/*Utilitários*/

.flex{
  display: flex;
  align-items: center;
  gap: 16px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/*configurações de títulos*/

h1, h2, h3 {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: var(--base-gray-100);
}

h1{
  font-size: var(--title-lg-size);
  line-height: var(--title-lg-line-height);
}

h2{
  font-size: var(--title-md-size);
  line-height: var(--title-md-line-height);
}

h3{
  font-size: var(--title-sm-size);
  line-height: var(--title-sm-line-height);
}

.subtitle {
  font-family: var(--subtitle-font-family);
  color: var(--principal-red);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
}

.text-sm, .text-md {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
}

.text-sm{
  color: var(--base-gray-300);
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line-height);
}

.text-md{
  color: var(--base-gray-200);
  font-size: var(--text-md-size);
  line-height: var(--text-md-line-height);
}


/*Formatação da página*/
.intro {
  display: flex;
  background-image: url("Assets/Background_Intro.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.info{
  margin: 120px 163px;
}

.header{
  width: 100%;
  max-width: 800px;
  gap: 80px;
  align-self: center;
}

#avatar{
  position: relative;
  height: 112px;
  width: 112px;
  align-self: center;
}

#user, #picture{
  border-radius: 50%;
}
 
#user{
  display: flex;
  height: 96px;
  width: 96px;
  border: 2px solid var(--principal-red);
  justify-content: center;
  align-items: center;
}

#picture {
  height: 85px;
  width: 85px;
  overflow: hidden;
}

#code{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.simples{
  color: var(--base-gray-200);
}

.title{
  gap: 8px;
}

.text{
  text-align: center;
  gap: 20px;
}

.tags{
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tag{
  background-color: var(--base-gray-400);
  padding: 8px 16px;
  border-radius: 50px;
  gap: 8px;
  display: flex;
  align-items: center;
}

/*insere cor nos ícones*/

.icon-html {
  filter: brightness(0) saturate(100%) invert(54%) sepia(90%) saturate(1000%) hue-rotate(330deg);
}

.icon-css{
  filter: brightness(0) saturate(100%) invert(41%) sepia(74%) saturate(741%) hue-rotate(177deg) brightness(95%);
}

.icon-javascript {
  filter: brightness(0) saturate(100%) invert(90%) sepia(25%) saturate(1400%) hue-rotate(10deg) brightness(120%);
}

.icon-react {
  filter: brightness(0) saturate(100%) invert(41%) sepia(74%) saturate(741%) hue-rotate(177deg) brightness(95%);
}

.icon-nodejs {
    filter: brightness(0) saturate(100%) invert(62%) sepia(20%) saturate(1000%) hue-rotate(90deg) brightness(100%);
}

.down{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

