@import url(main.css);
@import url(utilities.css);
@import url(sections.css);

/*configurações de títulos*/

h1, h2, h3 {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: var(--base-gray-100);
}

h1{
  font-size: var(--title-lg-size);
  line-height: var(--title-lg-line-height);
}

h2{
  font-size: var(--title-md-size);
  line-height: var(--title-md-line-height);
}

h3{
  font-size: var(--title-sm-size);
  line-height: var(--title-sm-line-height);
}

.subtitle {
  font-family: var(--subtitle-font-family);
  color: var(--principal-red);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
}

.text-sm, .text-md {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
}

.text-sm{
  color: var(--base-gray-300);
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line-height);
}

.text-md{
  color: var(--base-gray-200);
  font-size: var(--text-md-size);
  line-height: var(--text-md-line-height);
}

#avatar{
  position: relative;
  height: 112px;
  width: 112px;
  align-self: center;
}

#user, #picture{
  border-radius: 50%;
}
 
#user{
  display: flex;
  height: 96px;
  width: 96px;
  border: 2px solid var(--principal-red);
  justify-content: center;
  align-items: center;
}

#picture {
  height: 85px;
  width: 85px;
  overflow: hidden;
}

#code{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.simples{
  color: var(--base-gray-200);
}

.title{
  gap: 8px;
}

.text{
  text-align: center;
  gap: 20px;
}

.tags{
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tag{
  background-color: var(--base-gray-400);
  padding: 8px 16px;
  border-radius: 50px;
  gap: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.6s ease;
}

.tag:hover{
  background-color: var(--base-gray-350);
}

.down{
  margin-top: 80px;
}

/*insere cor nos ícones*/

.icon-html {
  filter: brightness(0) saturate(100%) invert(54%) sepia(90%) saturate(1000%) hue-rotate(330deg);
}

.icon-css{
  filter: brightness(0) saturate(100%) invert(41%) sepia(74%) saturate(741%) hue-rotate(177deg) brightness(95%);
}

.icon-javascript {
  filter: brightness(0) saturate(100%) invert(90%) sepia(25%) saturate(1400%) hue-rotate(10deg) brightness(120%);
}

.icon-react {
  filter: brightness(0) saturate(100%) invert(41%) sepia(74%) saturate(741%) hue-rotate(177deg) brightness(95%);
}

.icon-nodejs {
    filter: brightness(0) saturate(100%) invert(62%) sepia(20%) saturate(1000%) hue-rotate(90deg) brightness(100%);
}

.project-card{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--base-gray-400);
  padding: 12px;
  border: 2px solid var(--base-gray-400);
  border-radius: 12px;
  gap: 20px;
  transition: border-color 0.6s ease;
}

.project-card:hover{
  border: 2px solid;
  border-color: var(--base-gray-300);
}

.project-thumb img{
  max-width: 100%;
  border-radius: 8px;
}

.project-title{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-card{
  padding: 20px;
  border: 2px solid var(--base-gray-500);
  border-radius: 12px;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: auto;
  background-color: var(--base-gray-400);
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--base-gray-400);
  text-decoration: none;
  color: inherit;
  transition: border-color 0.6s ease;
}

.social-button:hover{
  border: 2px solid;
  border-color: var(--principal-blue);
  img {
    filter: brightness(0) saturate(100%) invert(66%) sepia(58%) saturate(4451%) hue-rotate(181deg) brightness(91%) contrast(87%);
  }
}

.link-social {
  width: 100%;
  margin: 0;
}