.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}