.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.m-bottom-56{
  margin-bottom: 56px
}

.flex-grid-880 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 888px;
  margin: 0 auto;
}